@keyframes horizontalGridMove {
    from {margin-left: 0px}
    to {margin-left: -35000px}
}

@keyframes horizontalShipMove {
    from {margin-left: 0px}
    to {margin-left: 35000px}
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes shipsMovin1 {
    0% {margin-top: 200px}
    35% {margin-top: 421px}
    55% {margin-top: 315px}
    78% {margin-top: 441px}
    100% {margin-top: 200px}
}

@keyframes shipsMovin2 {
    0% {margin-right: 500px}
    21% {margin-right: 221px}
    44% {margin-right: 301px}
    90% {margin-right: 1100px}
    100% {margin-right: 500px}
}

@keyframes moonMovin {
    0% {margin-top: 420px}
    31% {margin-top: 120px}
    69% {margin-top: -200px}
    100% {margin-top: 420px}
}

html, body {
    max-width: 100%;
    overflow: hidden;
    background-image: url(./src/images/space.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f9f1f1;
    font-family: 'Indie Flower', cursive;
}

.ship-images {
    height: 100px;
    width: 100px;
    margin-left: 0px;
    z-index: 1;
    margin-top: 0px;
    position: none;
}

.row {
    border-image: linear-gradient(30deg, #787878, #d4af37, #e9967a, #ffb6c1) 27;
    border-width: 5px;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 120px;
    z-index: -1;
}

#row-1 {
    margin-top: 120px;
}

#row-5 {
    border-bottom: none;
}

.ship-button {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: none;
    margin-right: 100px;
    margin-left: 175px;
    margin-top: 200px
}

.ship-button:hover, .button:hover {
    cursor: pointer
}

.ship-button .ship-images, #player-ship .ship-images {
    height: 200px;
    width: 200px
}

#grid {
    width: 35000px;
    max-height: 750px;
    margin-left: 0px;
}

.cat-images {
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute    
}

#moon {
    margin-left: 35015px;
    position: absolute;
    max-height: 1000px;
    max-width: 1000px;
    margin-top: -400px;
}

#to-the-moon-button {
    width: 200px
}

.endgame-divs {
    border: solid black 3px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3;
    margin-top: 370px;
    background-color: #536872;
    border: solid #426761 8px;
    animation-name: fadein;
    animation-duration: 5s
}

.endgame-headers {
    order: 1
}

.endgame-phrases {
    order: 2
}

#play-again-button {
    order: 3;
    font-size: 1.1em;
    background-color: #304050;
    border: solid #405060 5px
}

header {
    display: flex;
    justify-content: space-between
}

.direction-buttons {
    width: 75px;
    height: 50px;
    background-color: #708090;
    border: solid #607080 5px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 50px;
}

.direction-buttons:hover {
    cursor: pointer
}

.explosion-images {
    width: 400px;
    height: 400px;
    z-index: 2;
    position: absolute;
    animation-name: fadein;
    animation-duration: 1s
}

#title-screen {
    display: flex;
    flex-direction: column;
    align-items: center
}

.button {
    width: 100px;
    height: 75px;
    font-family: 'Indie Flower', cursive;
    color: #f9f1f1;
    font-size: 1.5em;
    background-color: #708090;
    border-radius: 50%;
    border: solid #607080 5px;
}

#title {
    font-size: 7em
}

#sub-title {
    font-size: 1.5em;
    margin-top: 200px
}

#ship-select-title {
    font-size: 4em;
    text-align: center;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in-out
}

#ship-options {
    animation-name: fadein;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out
}

#ship-name-header {
    font-size: 4em;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in-out
}

#ship-name-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out
}

#player-ship {
    margin-top: 100px;
    animation-name: fadein;
    animation-duration: 4s;
    animation-timing-function: ease-in-out
}

#ship-name-textbox {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
    background-color: transparent;
    color: #f9f1f1
}

#game-title, #ship-title {
    text-align: center
}

#game-title {
    font-size: 2.5em
}

#ship-title {
    font-size: 1.5em;
    margin-top: -20px
}

#right-side {
    display: flex;
    flex-direction: column;
}

#instruction-div {
    display: flex;
    flex-direction: row;
    width: 140px;
    margin-top: 10px;
    margin-left: 850px;
    background-color: #6e7f80;
    border-radius: 25%;
    padding: 5px
}

#instruction-arrow {
    margin-top: 55px;
    margin-left: 30px
}

#instructions {
    text-align: right;
}

#enter-grid-button {
    width: 200px;
    animation-name: fadein;
    animation-duration: 5s;
    animation-timing-function: ease-in-out
}

.opener-images {
    width: 150px;
    height: 150px
}

.opener-images-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 0px
}

#ship-1-opener {
    margin-left: 50px;
    margin-top: 200px;
    animation-name: shipsMovin1;
    animation-duration: 22s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

#ship-2-opener {
    margin-right: 500px;
    margin-top: 20px;
    animation-name: shipsMovin2;
    animation-duration: 19s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

#ship-3-opener {
    margin-top: 350px;
}

#moon-opener {
    margin-top: 420px;
    margin-right: 100px;
    animation-name: moonMovin;
    animation-duration: 21s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}